<!-- app/views/records/new.html.erb -->
<nav>
  <%= link_to raw('&#8592;'), group_records_path(@group), class: 'back-btn' %>
  <h4>NEW EXPENSE</h4>
  </nav>  

  <div class="container">
  <p style="font-family: 'ProximaNovaBold', sans-serif;
  color: #686e76;">Category name: <%= @group.name.capitalize %></p>
<%= render 'form' %>
</div>
