/* Proxima Nova Bold */
@font-face {
  font-family: 'ProximaNovaBold';
  src:
    url('path-to-font/proxima-nova-bold.woff2') format('woff2'),
    url('path-to-font/proxima-nova-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNovaLight';
  src:
    url('path-to-font/proxima-nova-light.woff2') format('woff2'),
    url('path-to-font/proxima-nova-light.woff') format('woff');
  font-weight: lighter; /* Adjust as needed */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
